**/.idea/
bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/sources.lock
/.paket/paket.bootstrapper.exe
/.paket/paket.exe
/bin/Aardvark.Fake.dll
/paket-files
/.fake
/.paket/paket.exe
/TestResult.xml
/tests.out
deliverable
bin/
obj/
/src/*.psess
/src/*.vspx
/src/VRVis.Vgm.GitHistory/node_modules
/src/*.sdf
/Aardvark.log
/vgm.config
/.vs
/sources.lock.old
/.paket/Paket.Restore.targets
/teststore_*
*.user
/paket.local*
/.paket/
**/.DS_Store
**/.ionide/.paket/
/build.fsx.lock
/.ionide
Aardvark.log
.ionide
/.vs
**/.idea/**